body
{
    background-image: url('/Gourmet/img/imgcolor.png');
}

#topsectionwrapper {
    display: flex;
    justify-content: space-between; /* För att separera elementen med utrymme emellan */
    min-height: 45vh;

    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 15px 15px 20px 15px;
    gap: 20px; /* Lägger avstånd mellan elementen */
}

#topsection1, #topsection2, #topsection3 {
    flex: 1; /* Gör att elementen delar lika på utrymmet */
    border: 1px solid black;
    font-size: xx-large;
    text-align: center;
    padding-top: 110px;
    background-color: white;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#topsection2
{
    background-image: url('/Gourmet/img/burger.png');
}

#topsection3
{
    background-image: url('/Gourmet/img/spikat.png');
}

#bottomsectionwrapper {
    display: flex;
    justify-content: space-between; /* För att separera elementen med utrymme emellan */
    min-height: 45vh;

    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0px 15px 0px 15px;
    gap: 20px; /* Lägger avstånd mellan elementen */
}

#bottomsection1, #bottomsection2, #bottomsection3{
    flex: 1; /* Gör att elementen delar lika på utrymmet */
    border: 1px solid black;
    font-size: xx-large;
    text-align: center;
    padding-top: 110px;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#bottomsection1
{
    background-image: url('/Gourmet/img/thai.png');
}

#bottomsection2
{
    background-image: url('/Gourmet/img/thaifood.png');
}

#bottomsection3
{
    background-image: url('/Gourmet/img/varholmen.png');
}

#topsection1 {
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-wrapper .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
}

.details {
    padding: 15px;
}

.details h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #333;
}

.details .info {
    font-size: 0.9em;
    color: #666;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.details .rating {
    font-size: 0.9em;
    color: #333;
    display: flex;
    align-items: center;
}

.details .rating span:first-child {
    margin-right: 5px;
    color: gold;
}
